@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Inter', sans-serif;
}

html {
	height: 100%;
}

#viewer {
	font-family: 'Merriweather', serif;
	@apply h-[750px] bg-white dark:bg-stone-800 border-r border-l border-b rounded-b-md 
	border-stone-300 dark:border-stone-700 text-stone-800 dark:text-stone-300 px-6 py-3;
}

.dropdown-menu {
	@apply origin-top-right absolute left-0 mt-2 w-48 rounded-md bg-white/75 filter backdrop-blur-md 
	dark:bg-stone-800/50 border border-stone-300 dark:border-stone-700 
	shadow-lg z-10 outline-none;
}

.dropdown-menu-item {
	@apply flex items-center justify-between px-2 py-2 text-sm cursor-pointer transition-all 
	bg-transparent dark:bg-transparent hover:bg-stone-100 dark:hover:bg-stone-700/75 rounded-md mx-1 my-1
	text-stone-900 dark:text-white outline-none;
}

.dropdown-menu-item-disabled {
	@apply flex items-center justify-between px-2 py-2 text-sm cursor-not-allowed transition-all 
	bg-transparent dark:bg-transparent rounded-md mx-1 my-1 text-stone-400 dark:text-stone-500
	outline-none;
}

.btn {
	@apply flex items-center px-4 py-2 border text-sm font-medium	rounded-md shadow-sm
	transition-all outline-none;
}

.btn-editor {
	@apply flex items-center text-sm hover:bg-stone-200 dark:hover:bg-stone-800 py-2 px-1
	rounded-md text-stone-900 dark:text-white font-medium mr-2;
}

.btn-icon {
	@apply inline-flex items-center p-1 border text-sm font-medium	rounded-md shadow-sm
	transition-all outline-none;
}

.btn-primary {
	@apply text-white dark:text-stone-900 bg-stone-800 dark:bg-orange-300 hover:bg-stone-700 
	dark:hover:bg-orange-200  border-stone-700 dark:border-orange-200;
}

.btn-tertiary {
	@apply text-stone-900 dark:text-white hover:bg-stone-100 
	dark:hover:bg-stone-700 border-stone-300 dark:border-stone-700;
}

.btn-secondary {
	@apply text-stone-900 dark:text-white bg-white dark:bg-stone-800 hover:bg-stone-100 
	dark:hover:bg-stone-700 border-stone-300 dark:border-stone-700;
}

.btn-red {
	@apply text-white dark:text-stone-900 bg-red-700 dark:bg-red-300 hover:bg-red-800 
	dark:hover:bg-red-200  border-red-900 dark:border-red-200;
}

.btn-primary:disabled {
	@apply text-stone-400 dark:text-stone-900 bg-stone-900 dark:bg-orange-400 
	 border-stone-700 dark:border-orange-400 cursor-not-allowed;
}

.page-header {
	@apply px-4 xl:px-16 py-6;
}

.page-body {
	@apply px-4 xl:px-16 pb-8;
}

.title-1 {
	@apply text-xl font-semibold text-stone-900 dark:text-white;
}

.title-2 {
	@apply text-lg font-medium leading-tight text-stone-900 dark:text-white;
}

.label {
	@apply text-sm text-stone-700 dark:text-stone-300;
}

.error-label {
	@apply mt-2 text-sm text-red-600 dark:text-red-300;
}

.input-error {
	@apply !border-red-600 dark:!border-red-300;
}

.input {
	@apply bg-white dark:bg-stone-800 flex w-full shadow-sm focus:ring-stone-900 ring ring-transparent
	focus:border-stone-900 dark:focus:ring-orange-300 dark:focus:border-orange-300 sm:text-sm
	border-stone-300 dark:border-stone-700 rounded-md text-stone-900 dark:text-white 
 placeholder:text-stone-400 dark:placeholder:text-stone-500;
}

.input:disabled {
	@apply cursor-not-allowed;
}

.input-sm {
	@apply bg-white dark:bg-stone-800 flex w-full shadow-sm focus:ring-stone-900 ring ring-transparent
	focus:border-stone-900 dark:focus:ring-orange-300 dark:focus:border-orange-300 sm:text-xs
	border-stone-300 dark:border-stone-700 rounded-md text-stone-900 dark:text-white 
	mt-1 placeholder:text-stone-400 dark:placeholder:text-stone-500;
}

.toggle {
	@apply relative inline-flex flex-shrink-0 h-6 w-11 border-2 
	border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200;
}

.link {
	@apply text-stone-900 hover:text-stone-700 dark:text-white dark:hover:text-orange-300 transition-all;
}

.card {
	@apply bg-white dark:bg-stone-800 rounded-lg shadow-md cursor-pointer border border-stone-300
	dark:border-stone-700 transition-all;
}

.cm-editor {
	min-height: 750px;
	max-height: 750px;
	@apply !rounded-b-md !outline-none;
}

.cm-gutters {
	@apply pr-1 mr-1 !border-r !border-stone-300 dark:!border-stone-700;
}

.cm-scroller {
	@apply border-r border-l border-b border-stone-300 dark:border-stone-700 rounded-b-md;
}

.cm-content {
	min-height: 748px !important;
	overflow: auto;
	border: none;
}

.has-tooltip {
	@apply relative cursor-pointer;
}

.tooltip {
	@apply invisible absolute top-6 left-0 right-0 text-center bg-white dark:bg-stone-900 border
	border-stone-300 	dark:border-stone-700 px-2 py-1 rounded-md transition-all duration-200
	ease-in-out;
}

.has-tooltip:hover .tooltip {
	@apply visible z-50;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	@apply rounded-md bg-white dark:bg-black;
}

::-webkit-scrollbar-thumb {
	@apply bg-stone-300  dark:bg-stone-700 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-stone-400 dark:bg-stone-600;
}

.svelte-keyboard {
	@apply max-w-lg;
}

.svelte-keyboard > .page {
	@apply !flex !flex-row !flex-wrap gap-2 !border-stone-900 items-center justify-center;
}

.svelte-keyboard > .page > .row {
	@apply !border  !border-stone-300 dark:!border-stone-700 rounded-md;
}

.svelte-keyboard > .page > .row > .key {
	@apply !col-span-1 !text-lg !h-12 !w-12 !bg-stone-100/75 dark:!bg-stone-800/75 text-stone-900
	 dark:text-white !border-0  filter backdrop-blur-sm hover:!bg-stone-200 hover:dark:!bg-stone-700 
	 transition-all;
}
